<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>com.rmichalak.ticketyweb.nazwa.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tickets</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowOperatorzyController</servlet-name>
        <servlet-class>com.ticketyweb.nazwa.controller.ShowOperatorzyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOperatorController</servlet-name>
        <servlet-class>com.ticketyweb.nazwa.controller.AddOperatorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditController</servlet-name>
        <servlet-class>com.ticketyweb.nazwa.controller.EditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewTicketController</servlet-name>
        <servlet-class>com.ticketyweb.nazwa.controller.AddNewTicketController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DetailController</servlet-name>
        <servlet-class>com.ticketyweb.nazwa.controller.DetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DetailController</servlet-name>
        <url-pattern>/details.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowTicketsController</servlet-name>
        <servlet-class>com.ticketyweb.nazwa.controller.ShowTicketsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowTicketsController</servlet-name>
        <url-pattern>/showTickets.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowOperatorzyController</servlet-name>
        <url-pattern>/showOperator.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOperatorController</servlet-name>
        <url-pattern>/addOperator.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditController</servlet-name>
        <url-pattern>/edit.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewTicketController</servlet-name>
        <url-pattern>/newTicket.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tickets</servlet-name>
        <url-pattern>/testspring/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
